@tailwind base;
@tailwind components;
@tailwind utilities;

.alt-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  pointer-events: none;
  opacity: 0;
}

.alt-subtitle {
  color: white;
  max-width: 40vw;
  font-size: 1vw;
  text-align: center;
  z-index: 4;
  opacity: 0;
  margin-bottom: 10vh;

  animation-name: fadeInUp-alt-subtitle;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

@keyframes fadeInUp-alt-subtitle {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 50%;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.gradient-text {
  background: linear-gradient(
    to right,
    #a855f7,
    #ec4899,
    #eab308,
    #ec4899,
    #a855f7,
    #ec4899,
    #eab308
  );
  background-size: 300%, 300%;
  background-clip: text;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}
/* Add this to your styles or use a CSS-in-JS solution */
.animate-gradient-bg {
  background-image: linear-gradient(90deg, #ff8a65, #ff4081, #f06292, #e031ab);
  background-size: 200% 200%;
  animation: gradientAnimation 3s infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.content-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: var(--space-xl-3xl) calc(1rem + 1vw);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.rounded-full {
  position: relative;
  overflow: hidden;
}

.rounded-full img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
