/* styles.css */

.animate-gradient {
  background-image: linear-gradient(90deg, #ff8a65, #ff4081, #f06292, #e031ab);
  background-size: 200% 200%;
  animation: gradientAnimation 3s infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
